:host {
  max-width: 800px;
  width: 100%;
  max-height: 100%;
  @media screen and (min-width: 510px) {
    padding: 20px;
  }
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 10px;
  &__title {
    text-align: center;
    margin-bottom: 20px;
  }
  &__content {
    width: 100%;
  }
  &__header {
    width: 100%;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    align-items: center;
    div:nth-child(2) {
      justify-self: flex-end;
    }
    h1 {
      margin: 0;
    }
    p {
      font-size: 0.8rem;
    }
    a {
      padding: 5px 20px;
      color: #bdbdbd;
      border: 1px solid #bdbdbd;
      border-radius: 10px;
      &:hover {
        opacity: 0.6;
      }
    }
  }
  &__table {
    width: 100%;
    grid-column: 1 / span 2;
    tr {
      display: grid;
      grid-template-columns: 1fr 1fr;
      border-bottom: 1.5px solid #eeeeee;
      padding: 20px 0;
      td:nth-child(1) {
        text-transform: uppercase;
        color: #bdbdbd;
      }
      td:nth-child(2) {
        max-width: 180px;
        justify-self: flex-end;
        overflow: auto;
        img {
          width: 80px;
          border-radius: 10px;
        }
      }
    }
  }
  @media screen and (min-width: 510px) {
    &__content {
      padding: 15px;
      border: 1px solid #bdbdbd;
      border-radius: 10px;
    }
  }
  @media screen and (min-width: 650px) {
    &__table {
      tr {
        td:nth-child(2) {
          max-width: 450px;
        }
      }
    }
  }
  @media screen and (min-width: 768px) {
    &__table {
      tr {
        grid-template-columns: 1fr 3fr;
        td:nth-child(2) {
          justify-self: normal;
        }
      }
    }
  }
}
